@model AbbottProvider.Areas.Providers.Models.DocVM

@{
    Layout = "_Layout";
    ViewData["Title"] = "Index";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Lista de archivos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Lista de usuarios</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Main row -->
        <main role="main">

            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Documentos</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Email</th>
                                        <th>Rol</th>
                                        <th style="width: 40px">Estado</th>
                                        <th style="width: 25%">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.usersData != null && ViewBag.usersData.Count > 0)
                                    {
                                        foreach (var item in ViewBag.usersData)
                                        {
                                            <tr>
                                                <td>@(item.Person.Name+" "+item.Person.Surname)</td>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @foreach (var subItem in item.UsersRoles)
                                                    {
                                                        @subItem.Role.Name
                                                    }
                                                </td>
                                                <td>
                                                    @if (item.IdState == 1)
                                                    {
                                                        <span class="badge bg-success">Activo</span>
                                                    }
                                                    else@if (item.IdState == 4)
                                                    {
                                                        <span class="badge bg-danger">Rechazado</span>
                                                    }
                                                    else@if (item.IdState == 5)
                                                    {
                                                        <span class="badge bg-warning">Revisión</span>
                                                    }
                                                </td>
                                                <td>
                                                    <button class="btn btn-primary btn-sm" onclick="getDoc(@item.Id)">
                                                        <i class="fas fa-plus">
                                                        </i>
                                                        Asignar rol
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">
                                <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.card -->

                </div>
                <!-- /.col -->

            </div>

        </main>

        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- MODAL -->
<div data-keyboard="false" data-backdrop="static" class="modal fade" id="pdfDisplay">
    <div class="modal-dialog modal-dialog-top">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Anexo</h4>
            </div>

            <div class="modal-body" id="pdfContainer">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btnNo">Rechazar</button>
                <button type="button" class="btn btn-primary btnOk">Aprobar</button>
            </div>
        </div>
    </div>
</div>
<div id="idDocHidden"></div>
<!--/.MODAL-->
@section Scripts{
    <script src="~/js/Reviews/reviews.js"></script>
}

